<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background: rgb(8, 176, 30); font-family: verdana; color: #fff; padding: 30px;}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('partials/nav.ejs') %>

    <h1>Welcome to Contact</h1>
    <p>asdf ghjkl</p>
</body>
</html>